################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/AdminToolkit/FileContentIndex/b9b1b6ab-00e6-4f22-8a27-5d581018d274.vsidx
/.vs/Admin-Toolkit/FileContentIndex/25d550b3-18de-43ab-a451-0c1713df72ab.vsidx
/.vs/Admin-Toolkit/FileContentIndex/e249137e-d283-435c-bd4c-f86a68a5a376.vsidx
/.vs/Admin-Toolkit/FileContentIndex/read.lock
/.vs/AdminToolkit/FileContentIndex
